
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  margin: 0!important;
  padding: 0!important;
}

.navbar{
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);
  width: 100%;
  top: 0;
  z-index: 100 !important;
  position: fixed;
  background-color: #f8fafc;
  .nav-item{
    margin-top: 3px;
  }
  .btn-ac{
    margin-top: -5px;
  }
}

#admin-content{
  margin-top: 90px;
}

.navbar-nav{
  margin-right: 0!important;
}

.g-recaptcha{
  margin: 5px 5px 5px 25%;
  width: 50%;
}
.btn-ac{
  background-color: #e88e2f;
  border-radius: 8px;
  color: white!important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  margin-left: 7px;
  border: none;
  padding: 7px;
}
.btn-ac:hover{
  transform: scale(1.06);
}

.banner-home{
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 66px;
  height: 700px!important;
}

@media (max-height: 799px) {
  .banner-home {
    height: 700px!important;
  }
}

@media (max-width: 446px) {
  .banner-home {
    height: 226px!important;
  }
}

@media (min-height: 800px) {
  .banner-home{
    height: 1000px!important;
  }
}

.questions{
  text-align: center;
  padding: 30px 60px 30px 60px;
  .question{
    img{
      width: 25%;
    }
    h5{
      text-align: center;
      padding: 20px 20px 20px 0;
      font-size: 1.5em;
      font-weight: bold;
      color: #2f426e;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    }
  }
}

.statistics{
  padding: 30px 30px 30px 10px;
  background-color: #142940;
  text-align: center;
  .statistic {
    .circ{
      box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.1);
      background-color: #e88e2f;
      border-radius: 120px;
      h5{
        padding: 45px 0 45px 0;
        font-size: 2em;
        font-weight: 600;
        color: #142940;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
      }
    }
    p{
      font-size: 1.2em;
      color: white;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
}


.info{
  background-color: #e8e8e8;
  .info1{
    padding: 50px 10px 50px 10px;
    background-image: url("/img/bginfo1.png");
    background-repeat: no-repeat;
    background-position-x: 5px;
    text-align: center;
    h5{
      color: #2f426e;
    }
  }
  .info2{
    background-image: url("/img/bginfo2.png");
    background-repeat: no-repeat;
    background-position-x: -25px;
    background-size: 100%;
    padding: 124px 10px 68px 10px;
    text-align: center;
  }
}

.plans{
  padding: 50px;
  text-align: center;
  color: #142940;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
  background-color: white;
  background-size: 100%;
  h2{
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.6em;
    min-height: 30px;
    text-shadow: 1px 2px 3px rgba(20, 41, 64, 0.2);
    font-weight: bold;
    span{
      font-size: .6em!important;
    }
  }
  h4{
    text-align: left;
    font-size: 1.2em;
  }
  h5{
    font-size: 1.5em;
  }
  p{
    padding: 0 50px 0 50px;
    font-size: 1.3em;
  }
  ul{
    margin-left: -10px;
    li{
      text-align: left;
    }
  }
  .plan {
    padding: 30px 30px 30px 30px;
    border: none;
    .pad{
      padding: 10px;
      border-radius: 5px;
      background-color: rgb(232, 142, 47);
      .states{
        font-size: 1em;
      }
      button{
        border: none;
        background-color: #2d8052;
        color: white;
        padding: 8px;
        border-radius: 6px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
      }
      button:hover{
        transform: scale(1.05);
      }
    }
  }
}

.services{
  text-align: center;
  padding: 50px;
  background-color:#142940;
  color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  .service{
    padding: 30px;
    border: none;
    .pad {
      background-color: rgba(36, 85, 101, 0.25);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
      button {
        border: none;
        background-color: #2d8052;
        color: white;
        padding: 8px;
        border-radius: 6px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
      }
      button:hover{
        transform: scale(1.05);
      }
    }
  }
}

#accordion > div:nth-child(4) > div.panel-heading > h4 > i,
#accordion > div:nth-child(9) > div.panel-heading > h4 > i{
  height: 61px;
  padding: 7px 6px;
}

.question-accordion{
  background-color: white;
  padding: 50px;
  color: #142940;
  h2{
    padding-left: 30px;
  }
  .panel{
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    padding: 3px;
    margin: 20px;
    .panel-heading h4 {
      a{
        color: #142940;
        padding-left: 40px;
      }
      a:hover{
        text-decoration: underline;
      }
      i{
        position: absolute;
        height: 36px;
        width: 36px;
        background-color: #142940;
        color: #e88e2f;
        margin-left: -3px;
        font-size: 1.5em;
        padding-left: 6px;
      }
    }
  }
  .panel-collapse{
    padding: 10px 30px 10px 30px;
    font-size: 1.4em;
    color: #142940;
    background-color: rgba(255, 255, 255, 0.1);
  }
}



.courses{
  padding: 100px;
  background-image: url("/img/banner-cursos.jpeg");
  background-size: 100%;
  background-position-y: -100px;
  h2{
    font-size: 2em;
    color:  white;
  }
  button{
    font-size: 1.1em;
    color: white;
    padding: 5px 20px 5px 20px;
    background-color: #d24c09;
    border: none;
    margin-left: 10px;
  }
}

.footer{
  background-color: white;
  float: left;
  width: 100%;
  padding: 50px;
  .logo{
    text-align: center;
    color: #142940;
    margin-top: 23px;
    p{
      padding: 20px 20px 0 20px;
    }
  }
  .social {
    margin-top: 15px;
    .terms{
      text-align: center;
    }
  }
  .contato-data{
    text-align: center;
    color: #142940;
  }
}




.credits{
  float: left;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  background-color: #142940;
  color: white;
}

/* mobile home */
@media (max-width: 768px){
  .statistics{
    padding: 10px;
    .statistic{
      text-align: center;
      .circ{
        width: 50%;
        margin-left: 25%;
        h5 {
          padding: 10px;
          margin: 0;
        }
      }
    }
  }
  .info{
    .info2 h5{
      margin-top: -20px;
    }
  }
  .plans{
    p{
      padding: 0;
    }
  }

  .question-accordion{
    .right-arrow{
      margin-top: -20px;
      height: 36px!important;
      width: 36px;
      padding: 0 6px!important;
    }
    .panel{
      margin: 30px 0 0 0!important;
    }
  }
  .courses{
    text-align: center;
    h2{
      font-size: 1.2em;
      width: 140%;
      margin-left: -16%;
    }
  }
}


/* page plans */
.page-plans{
  margin-top: 70px;
  box-shadow: none;
  padding: 0;
  .banner{
    background-image: url("/img/planos.png");
    background-size: 100%;
    background-position-y: -40px;
    background-repeat: no-repeat;
    padding: 200px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1386px){
  .banner, .header-quem-somos{
    padding: 265px;
  }
}

@media (min-width: 1790px){
  .banner, .header-quem-somos{
    padding: 374px!important;
    background-position-y: -70px;
  }
}

/* page contato */
.contato {
  margin-top: 80px;
  .call {
    img {
      width: 100%;
    }
  }
  .info {
    background-color: #f8fafc;
    h3 {
      text-align: center;
      color: #2f426e;
      padding: 100px;
      font-size: 2em;
    }
  }
  .form{
    padding: 50px;
    background-color: white;
    position: relative;
    .form-contato{
      h1{
        text-align: center;
        color: #2f426e;
      }
    }
    button{
      font-size: 1.3em;
      color: white;
      background-color: #d24c09;
      border: none;
      padding: 15px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.21);
    }
    button:hover{
      transform: scale(1.01);
    }
    .form-group{
      margin-bottom: 10px!important;
      label img{
        position: absolute;
        float: right;
        margin-left: 90%;
        margin-top: 22px;
      }
    }
  }
  .contato-data{
    margin-top: 74px;
    .address{
      margin-bottom: 5px;
      img{
        float: left;
      }
      address{
        margin-top: -5px;
        float: right;
        margin-right: 172px;
        color: #424852;
      }
    }
    .telefone{
      margin-top: 29px;
      img{
        float: left;
      }
      a{
        float: right;
        margin-right: 299px;
      }
    }
    .facebook{
      margin-top: 20px;
      img{
        float: left;
      }
      a{
        float: right;
        margin-right: 200px;
        margin-top: 3px;
      }
    }
    .hour{
      margin-top: 20px;
      ul{
        list-style: none;
        margin-top: -23px;
        img{
          float: left;
        }
      }
      p{
        float: right;
        margin-right: 113px;
        margin-top: 1px;
        color: #424852;
      }
    }
  }
  .map{
    width: 100%;
    iframe{
      width: 100%;
    }
  }
}

/* página quem somos */
.quem-somos{
  margin-top: 80px;
  color: #2f426e;
  .header-quem-somos{
    padding: 200px;
    background-image: url('/img/banner-quem-somos.png');
    background-size: 100%;
    background-position-y: -60px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    color: white;
    font-size: 2em;
  }
  .text{
    text-align: justify;
  }
  .empresa{
    img{
      width: 100%;
    }
  }
}
.text-center{
  margin-top: 20px;
  background-color: #2f426e;
  h2 {
    color: white;
    padding: 40px;
  }
}

.contabilidade-online{
  color: #2f426e;
  margin-top: 80px;
  .banner{
    background-image: url('/img/que-contabilidade.png');
    background-position-y: -60px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 180px;
  }
  h2{
    margin-top: 30px;
    text-align: center;
    font-size: 2em;
  }
  p{
    text-align: justify;
    font-size: 1.1em;
  }
}

.como-funciona{
  margin-top: 80px;
  color: #2f426e;
  margin-bottom: 40px;
  .banner{
    background-image: url('/img/como-funciona.png');
    background-position-y: -45px;
    background-size: 100%;
    padding: 180px;
  }
  h2{
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
    margin-left: -10px;
  }
  p, ol li{
    font-size: 1.1em;
    margin-bottom: 20px;
  }

}

.servico-online{
  margin-top: 80px;
  color: #2f426e;
  margin-bottom: 40px;
  .banner{
    background-image: url('/img/servico-online.png');
    background-position-y: -30px;
    background-size: 100%;
    padding: 180px;
  }
  h2{
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
    margin-left: -10px;
  }
  p, ol li{
    font-size: 1.1em;
    margin-bottom: 20px;
  }

}

/* pagina do blog */
.blog{
  margin-top: 80px;
  .posts{
    float: left;
    padding: 30px 0 30px 0;
    .post{
      margin-bottom: 20px;
      background-color: white;
      border: none;
      border-radius: 3px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.21);
      width: 100%;
      .title{
        color: #2f426e;
        padding: 15px 15px 7px 15px;
        font-family: 'Open Sans', sans-serif;
        h2{
          margin-bottom: -3px;
        }
      }
      .info-post{
        color: rgba(27, 30, 33, 0.46);
        font-style: italic;
        .author, .date, .category{
          margin-left: 50px;
          font-size: .7em;
          i{
            margin-top: 5px;
            padding-right: 3px;
          }
        }
      }
      .split-style{
        position: absolute;
        width: 33.3%;
        height: 4px;
      }
      .line{
        .ss-blue{
          background-color: #1b4b72;
        }
        .ss-orange{
          background-color: #d24c09;
          margin-left: 33.3%;
        }
        .ss-gray{
          margin-left: 66.6%;
          background-color: #8d8d8d;
          width: 33.4%!important;
        }
      }
      .post-content{
        font-family: 'PT Serif', serif;
        padding: 20px;
        color: rgba(27, 30, 33, 0.92);
        .post-thumb img{
          width: 150px;
          height: 110px;
        }
        p{
          margin-top: 5px;
          text-align: justify;
        }
      }
    }
  }
  .sidebar{
    float: right;
    .popular, .recent{
      border-radius: 3px;
      margin-top: 30px;
      background-color: white;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.21);
      .post-thumb img{
        width: 60px;
        height: 40px;
        margin-top: 3px;
      }
      h5{
        padding: 7px 15px;
      }
      .side-pad{
        margin-bottom: 3px;
      }
    }
    .recent{
      margin-top: 20px;
    }
    .search{
      margin-top: 21px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.21);
      background-color: white;
      padding: 10px;
      i{
        position: absolute;
        margin-left: 80%;
        margin-top: 12px;
      }
    }
    .categories{
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.21);
      border-radius: 3px;
      margin-top: 3px;
      background-color: white;
      padding-bottom: 1px;
      h5{
        padding: 7px 15px;
      }
      ul{
        list-style: none;
      }
    }
  }
}

.charge{
  .button-carregar{
    width: 100%;
    border: none;
    color: white;
    background-color: #d24c09;
    padding: 10px;
    font-size: 1.3em;
    margin-top: -20px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 40px;
  }
  .button-carregar:hover{
    transform: scale(1.01);
  }
}

/* SASS - Admin */

.main-sidebar {
  z-index: 99999999999999999999999999999;
  margin-left: -260px;
  min-height:100vh;
  position:fixed;
  top:0;
  left:0;
  max-width: 250px;
  width: 250px;
  box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
  background: #224069;
  margin-top: 83px;
  .menu {
    list-style:none;
    margin: 1px 1px 2px 1px!important;
    padding-left: 0;
    li {
      padding:11px 16px;
      width: 100%;
      height: 50px;
      a{
        color: white;
        font-size: 1.4em;
        text-decoration: none;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.33);
        float: left;
        padding-left: 7px;
        margin-left: 3px;
      }
      i{
        color: white;
        float: left;
        width: 40px;
        height: 50px;
        margin-top: -12px;
        margin-left: -15px;
        font-size: 2em;
        padding: 11px 7px;
      }
    }
    li:hover{
      background-color: rgba(255, 255, 255, 0.18);
    }
    hr{
      margin: 0;
      padding: 0;
    }
  }
}
.bg-iconbar{
  width: 41px;
  background-color: #f67b30;
  height: 100vh;
  z-index: -1;
  position: absolute;
  margin: 1px 1px 2px 1px!important;
}


.main {
  color:#fff;
  display:block;
  width:100%;
  background:red;
  min-height:100vh;
}


#sub-conteudos, #sub-planos, #sub-blogs, #sub-configuracoes{
  display: none;
  position: absolute;
  margin-left: 233px;
  background: rgba(34, 64, 105, 0.9);
  width: 200px;
  margin-top: -12px;
  ul{
    list-style: none;
    font-size: .7em;
    margin-left: 0;
    padding-left: 0;
    li{
      padding-left: 23px;
    }
  }
}


/** page login **/
.login{
  .card{
    margin-top: 40px;
    .btn-primary{
      background-color: #f67b30;
      border: none;
    }
    .btn-primary:hover{
      background-color: #dc6f2b;
    }
  }
}


.pad-admin{
  margin-left: 250px;
}
.btn-top-fixed{
  float: right;
  margin-top: -5px;
  background-color: #f67b30;
  border: none;
  padding: 10px;
  color: white;
  position: fixed;
  width: 15%;
  margin-left: 65%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.27);
}



.btn-primary{
  background-color: #f67b30;
  border: none;
  margin-top: 30px;
}

.btn-primary:hover{
  background-color: #dc6f2b;
}

.planos-mensais{
  margin-top: -7px;
  margin-left: 180px;
  text-align: center;
  h2{
    margin-top: 70px;
    width: 100%;
    padding: 10px 70px 10px 10px;
    text-align: center;
    background-color: #1b4b72;
    color: white;
    margin-bottom: 20px;
    margin-left: 49px;
  }
  h3, h4{
    text-align: center;
    color: #1b4b72;

  }
  h4{
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #1f6fb2;
  }
  .table{
    margin-left: 55px;
    text-align: center;
  }
  textarea{
    margin-top: 20px;
    height: 170px;
  }
  .action-icon{
    font-size: 1.3em;
    padding: 10px;
  }
  .plano, .plano-novo{
    margin-bottom: 20px;
  }
  .plano-novo{
    display: none;
  }
  .preco{
    margin-left: 7%;
  }
}

.orcamentos{
  margin-top: 50px;
  padding: 0;
  .container {
    padding-bottom: 10px;
    .contratar {
      background-color: #158044;
      font-size: 1.3em;
      width: 50%;
      text-align: center;
      color: white;
      border-radius: 3px;
      border: none;
      a{
        box-shadow: none;
      }
      a:hover{
        color: white;
      }
    }
    .contratar:hover{
      transform: scale(1.01);
      text-decoration: none;
      color: white;
    }
  }
  h2{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #1b4b72;
    color: #dc6f2b;
    padding: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Raleway', sans-serif;
  }
  .banner{
    background-image: url("/img/banner-orcamento.png");
    background-position-y: -30px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 220px;
  }
  .bg-orcamentos{
    padding: 10px 50px;
    color: #dc6f2b;
    background-color: rgba(27, 75, 114, 0.04);
    form{
      width: 50%;
      float: left;
    }
    .perguntas{
      margin-top: 10px;
      padding-top: 5px;
      width: 100%;
      min-height: 300px;
      .pergunta{
        text-align: center;
        color: white;
        background-color: #dc6f2b;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
        padding: 16px;
        label{
          font-size: 1.3em;
        }
        select{
          background-color: #dc6f2b;
          color: white;
          font-size: 1.3em;
        }
        .input-line{
          border-bottom: 2px solid white!important;
          border-left: none;
          border-right: none;
          border-top: none;
          color: white;
          background-color: #dc6f2b;
          width: 100%;
          padding: 5px;
        }
        .input-line:focus{
          outline: none;
        }
      }
    }
  }
  .total{
    float: right;
    width: 100%;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    background-color:#1b4b72;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    .line{
      text-align: center;
      border-bottom: 2px solid #dc6f2b;
      min-height: 96px;;
    }
    h3{
      font-size: 1.5em;
    }
    .input-line{
      width: 100%;
      font-size: 3em;
      font-weight: 600;
      border: none;
    }
    .input-line:focus{
      outline: none;
    }
    .menor{
      font-size: 1.6em;
    }
  }
  .economia{
    width: 50%;
    float: right;
    background-color:#1b4b72;
    padding: 35px;
    margin-top: 15px;
    .atual{
      width: 100%;
      h3{
        position: absolute;
        margin-left: 10px;
      }
      input{
        border: none;
        border-bottom: 2px solid white;
        background-color:#1b4b72;
        color: white;
        width: 100%;
        font-size: 1.3em;
        text-align: center;
      }
      input::placeholder{
        color: #c7c7c7;
        font-size: 1em;
        text-align: center;
      }
      input:focus{
        outline: none;
      }
    }
    .economia-total{
      width: 100%;
      text-align: center;
      p{
        margin-top: 3px;
        margin-bottom: -7px;
        text-align: left;
        padding-left: 11px;
        font-size: 1.2em;
      }
      span{
        font-size: 1.3em;
      }
      .input-line{
        font-family: 'Raleway', sans-serif;
        font-size: 2em;
        font-weight: bold;
      }
    }
  }
}

.fixed{
  position: fixed;
}



.post-single{
  .header{
    margin-top: 90px;
    margin-left: 50px;
  }
  .info-post{
    color: rgba(27, 30, 33, 0.46);
    font-style: italic;
    .author, .date, .category{
      margin-left: 50px;
      font-size: .7em;
      i{
        margin-top: 5px;
        padding-right: 3px;
      }
    }
  }
}

#adicionar-pergunta{
  position: absolute;
  margin-top: -63px;
  margin-left: 140px;
}

body > div.modal-backdrop.show{
  z-index: 11;
}

#modal-planos{
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  height: 75%;
  padding: 20px;
  background-color: white;
  z-index: 12;
  select{
    margin-top: 30px;
  }
  .close{
    color: white;
    margin-right: 30px;
  }
}

.editar-pergunta{
  margin-top: 100px;
}

.adicionar-plano, .box{
  margin-top: 100px;
  h2{
    text-align: center;
  }
}

.blue{
  color: #1b4b72;
  text-align: center;
}

.mensagem{
  padding: 10px;
  font-size: 1.4em;
}

.form-check{
  float: left;
  margin-right: 20px;
}

.login, .register, .verify{
  margin-top: 110px;
}

#total, .totalAtual{
  text-align: center;
  background-color: #1b4b72;
  border: none;
  color:  #dc6f2b;
}

#atualmente{
  margin-left: 2.5%;
  width: 97.5%;
}

#show{
  background-color: #00357db0;
  position: absolute;
  border-radius: 17px;
  padding: 15px;
  color: white;
  border: none;
  box-shadow: 1px 2px 3px #00000040;
}
#show::selection{
  border: none;
}

.form-check{
  z-index: 9;
}

.contratar{
  width: 100%;
  margin-top: 10px;
  h2{
    padding: 20px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  .head{
    text-align: center;
    h3{
      padding: 20px;
    }
  }
}

#termos-contrato{
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 446px) {
  .autopreencher {
    width: 40%;
    margin-left: 30%;
  }
}

.agradecimento{
  margin-top: 150px;
}

#modal-cnpj{
  margin-top: 60px;
}

#autopreencher{
  margin-top: 0;
}

#total-calc{
  display: block;
  float: right;
  width: 100%;
  margin-top: -309px;
  padding-right: 15px;
  margin-right: -534px;
  .economia{
    float: right;
    width: 100%;
    margin-bottom: 10px;
  }
  .total{
    float: right;
    width: 100%;
  }
}

.btn-adicionar{
  color:white;
  background-color: #f67b30;
  border: none;
  border-radius: 5px;
  padding: 7px;
}

.btn-contratar{
  background-color: #16803d;
  color: white;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}